@model Indepp.Models.Article

<div class="container-fluid">
    <div class="row paperBody">
        <div class="col-lg-12">
            @Html.Partial("_NavigationIconsPartial")

            <h1 class="specialHeaderText">@Model.Title</h1>

            <p class="underHeaderText">
                Edit Article
            </p>

        </div>

        <!-- Content -->
        @using (Html.BeginForm("ArticleEdit", "Admin", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <!-- Controls -->
            <div class="col-md-12">
                <div class="btn-group" role="group">
                    <a href='@Url.Action("ArticleList", "Admin")' class="btn">
                        <i class="fa fa-hand-o-left fa-2x"></i>
                    </a>
                    <button type="submit" class="btn btn-link">
                        <i class="fa fa-floppy-o fa-2x"></i>
                    </button>
                </div>
            </div>
            <!-- /Controls-->

            <div class="col-md-12">
                <section id="placeDetails">
                    <div>
                        <div class="editSection">
                            <label for="@Model.Title">Title</label>
                            @Html.TextAreaFor(a => Model.Title, new { @class = "form-control" })
                            @Html.ValidationMessageFor(a => Model.Title)
                        </div>
                        <div class="editSection">
                            <label for="@Model.ShortDescription">Short Description</label>
                            <div class="alert alert-warning alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                Short description is shown at Home page together with blog posts. If left empty, default short description will be shown.
                            </div>
                            @Html.TextAreaFor(a => Model.ShortDescription, new { @class = "form-control", @id = "shortDescriptionEditor" })
                            @Html.ValidationMessageFor(a => Model.ShortDescription)
                        </div>
                        <div class="editSection">
                            <label for="@Model.Description">Description</label>
                            @Html.TextAreaFor(a => Model.Description, new { @class = "form-control", @id = "descriptionEditor" })
                            @Html.ValidationMessageFor(a => Model.Description)
                        </div>
                    </div>

                    <div class="editSection">
                        <h4>Map to the Place</h4>
                        @Html.DropDownListFor(a => a.PlaceID, new SelectList(ViewBag.placeList, "ID", "Name", "Choose a mapping"), new { @class = "form-control", @id = "combobox" })
                    </div>
                </section>
            </div>
        }
        <!-- /Content-->

    </div>
</div>

@Scripts.Render("~/bundles/editor")

<script>
    CKEDITOR.replace('shortDescriptionEditor');
    CKEDITOR.replace('descriptionEditor');

    $(document).ready(function () {
        $('#combobox').combobox();
        $('.input-group .form-control').attr("placeholder", "Type the name of a place or click the arrow");
    });
</script>