@model Indepp.Models.Article

<div class="container-fluid">
    <div class="row paperBody">
        <div class="col-lg-12">
            @Html.Partial("_NavigationIconsPartial")

            <h1 class="specialHeaderText">@Model.Title</h1>

            <p class="underHeaderText">
                Article Details
            </p>
        </div>

        <!-- Controls -->
        <div class="col-md-12">
            <div class="btn-group" role="group">
                <a href='@Url.Action("ArticleList", "Admin")' class="btn">
                    <i class="fa fa-hand-o-left fa-2x"></i>
                </a>
                <a href='@Url.Action("ArticleEdit", "Admin", new { id = Model.ID })' class="btn">
                    <i class="fa fa-pencil fa-2x"></i>
                </a>
                <a href='@Url.Action("ArticleDelete", "Admin", new { id = Model.ID })' class="btn">
                    <i class="fa fa-trash-o fa-2x"></i>
                </a>
            </div>
        </div>
        <!-- /Controls -->

        <!-- Main Content -->
        <div class="col-md-12">
            <section id="placeDetails">
                <div>
                    <h1>
                        Blog Post
                    </h1>
                    <p>
                        @Model.ID
                    </p>
                    <p>
                        @Model.Title
                    </p>
                    <p>
                        @Html.Raw(Model.Description)
                    </p>
                    <p>
                        @Model.PostedOn
                    </p>
                    <p>
                        @Model.ModifiedOn
                    </p>
                    @if (Model.Place != null)
                    {
                        <p>Mapped to: @Model.Place.Name</p>
                    }
                </div>
            </section>
        </div>

        <!-- Main Content Ends-->
    </div>
</div>