@model Indepp.Models.BlogPost

<div class="container-fluid">
    <div class="row paperBody">
        <div class="col-lg-12">
            <a href="#menu-toggle" id="menu-toggle">
                <i class="fa fa-long-arrow-left"></i>
            </a>

            <h1 class="specialHeaderText">@Model.Title</h1>

            <p class="underHeaderText">
                Blog Post Details
            </p>
        </div>

        <!-- Controls -->
        <div class="col-md-12">
            <div class="btn-group" role="group">
                <a href='@Url.Action("BlogPostList", "Admin")' class="btn">
                    <i class="fa fa-hand-o-left fa-2x"></i>
                </a>
                <a href='@Url.Action("BlogPostEdit", "Admin", new { id = Model.ID })' class="btn">
                    <i class="fa fa-pencil fa-2x"></i>
                </a>
                <a href='@Url.Action("BlogPostDelete", "Admin", new { id = Model.ID })' class="btn">
                    <i class="fa fa-trash-o fa-2x"></i>
                </a>
            </div>
        </div>
        <!-- /Controls -->
        <!-- Main Content -->
        <div class="col-md-8">
            <section id="placeDetails">
                <div>
                    <h1>
                        Blog Post
                    </h1>
                    <p>
                        @Model.ID
                    </p>
                    <p>
                        @Model.Title
                    </p>
                    <p>
                        @Model.ShortDescription
                    </p>
                    <p>
                        @Model.Description
                    </p>
                    <p>
                        @Model.PostedOn
                    </p>
                </div>
            </section>
        </div>
        <!-- Main Content Ends-->

        <div class="col-md-4 recentPosts">
            <h2 style="text-transform:uppercase">Opening Times</h2>

            <p>Mon: </p>
            <p>Tue: </p>
            <p>Wed: </p>

        </div>

    </div>
</div>