@model Indepp.Models.BlogPost

<div class="container-fluid">
    <div class="row paperBody">
        <div class="col-lg-12">
            <a href="#menu-toggle" id="menu-toggle">
                <i class="fa fa-long-arrow-left"></i>
            </a>

            <h1 class="specialHeaderText">@Model.Title</h1>

            <p class="underHeaderText">
                Edit Blog Post
            </p>

        </div>

        <!-- Content -->
        @using (Html.BeginForm("BlogPostEdit", "Admin", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <!-- Controls -->
            <div class="col-md-12">
                <div class="btn-group" role="group">
                    <a href='@Url.Action("BlogPostList", "Admin")' class="btn">
                        <i class="fa fa-hand-o-left fa-2x"></i>
                    </a>
                    <button type="submit" class="btn btn-link">
                        <i class="fa fa-floppy-o fa-2x"></i>
                    </button>
                </div>
            </div>
            <!-- /Controls-->

            <div class="col-md-12">
                <section id="placeDetails">
                    <div>
                        <h1>
                            Blog Post Details
                        </h1>
                            <div class="form-group">
                                <label for="@Model.Title">Title</label>
                                @Html.TextAreaFor(bp => Model.Title, new { @class = "form-control" })
                                @Html.ValidationMessageFor(bp => Model.Title)
                            </div>
                            <div class="form-group">
                                <label for="@Model.ShortDescription">Short Description</label>
                                @Html.TextAreaFor(bp => Model.ShortDescription, new { @class = "form-control", @id = "shortDescriptionEditor" })
                                @Html.ValidationMessageFor(bp => Model.ShortDescription)
                            </div>
                            <div class="form-group">
                                <label for="@Model.Description">Description</label>
                                @Html.TextAreaFor(bp => Model.Description, new { @class = "form-control", @id = "descriptionEditor" })
                                @Html.ValidationMessageFor(bp => Model.Description)
                            </div>    
                    </div>
                </section>
            </div>
        }
        <!-- /Content-->

    </div>
</div>

@Scripts.Render("~/bundles/editor")

<script>
    CKEDITOR.replace('shortDescriptionEditor');
    CKEDITOR.replace('descriptionEditor');
</script>