@model Indepp.Models.Place

<div class="container-fluid">
    <div class="row paperBody">
        <div class="col-lg-12">
            <a href="#menu-toggle" id="menu-toggle">
                <i class="fa fa-long-arrow-left"></i>
            </a>

            <h1 class="specialHeaderText">Create a place</h1>

            <p class="underHeaderText">
                Here you can add a new place to database
            </p>
        </div>

        @using (Html.BeginForm("Create", "Admin", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            
            <!-- Controls -->
                <div class="col-md-12">
                    <div class="btn-group" role="group">
                        <a href='@Url.Action("Index", "Admin")' class="btn">
                            <i class="fa fa-hand-o-left fa-2x"></i>
                        </a>
                        <button type="submit" class="btn btn-link">
                            <i class="fa fa-check fa-2x"></i>
                        </button>
                    </div>
                </div>
            <!-- /Controls -->

            <!-- Main Content -->
                <div class="col-md-8">
                    <section id="placeDetails">
                        <h4>Place Details</h4>
                        <p>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">Name</span>
                                @Html.TextBoxFor(p => p.Name, new { @class = "form-control" })
                                @Html.ValidationMessageFor(p => Model.Name)
                            </div>
                        </p>
                        <p>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">Category</span>
                                @Html.TextBoxFor(p => p.Category, new { @class = "form-control" })
                                @Html.ValidationMessageFor(p => Model.Category)
                            </div>
                        </p>

                        <h4>Address</h4>
                        <p>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">City</span>
                                @Html.TextBoxFor(p => p.Address.City, new { @class = "form-control" })
                                @Html.ValidationMessageFor(p => Model.Address.City)
                            </div>
                        </p>
                        <p>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">County</span>
                                @Html.TextBoxFor(p => p.Address.County, new { @class = "form-control" })
                                @Html.ValidationMessageFor(p => Model.Address.County)
                            </div>
                        </p>
                        <p>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">Country</span>
                                @Html.TextBoxFor(p => p.Address.Country, new { @class = "form-control" })
                                @Html.ValidationMessageFor(p => Model.Address.Country)
                            </div>
                        </p>
                    </section>
                </div>
            <!-- /Main Content-->
        }

    </div>
</div>