@model Indepp.Models.Place

<div class="container-fluid">
    <div class="row paperBody">
        <div class="col-lg-12">
            <a href="#menu-toggle" id="menu-toggle">
                <i class="fa fa-long-arrow-left"></i>
            </a>

            <h1 class="specialHeaderText">@Model.Name</h1>

            <p class="underHeaderText">
                Press delete to remove the place.
            </p>
        </div>

        @using (Html.BeginForm("Delete", "Admin", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            
            <!-- Controls -->
            <div class="col-md-12">
                <div class="btn-group" role="group">
                    <a href='@Url.Action("Index", "Admin")' class="btn">
                        <i class="fa fa-hand-o-left fa-2x"></i>
                    </a>
                    <button type="submit" class="btn btn-link">
                        <i class="fa fa-trash-o fa-2x"></i>
                    </button>
                </div>
            </div>
            <!-- /Controls -->
        }

        <!-- Main Content -->
        <div class="col-md-8">
            <section id="placeDetails">
                <div>
                    <h1>
                        PLACE DETAILS
                    </h1>
                    <p>
                        @Model.ID
                    </p>
                    <p>
                        @Model.Name
                    </p>
                    <p>
                        @Model.Category
                    </p>

                    @if (Model.Address != null)
                    {
                        <p>Address:</p>
                        <p>
                            @Model.Address.City
                        </p>
                        <p>
                            @Model.Address.County
                        </p>
                        <p>
                            @Model.Address.Country
                        </p>
                    }
                    
                    @if (Model.PlaceDescription != null)
                    {
                        <p>Description:</p>
                        <p>
                            @Html.Raw(Model.PlaceDescription.Description)
                        </p>
                    }
                </div>
            </section>
        </div>
        <!-- Main Content Ends-->

        <div class="col-md-4">
            <h2 style="text-transform:uppercase">Opening Times</h2>

            @if (Model.WorkingHours.Count() > 0)
            {
                foreach (var workingHour in Model.WorkingHours)
                {
                    <p>
                        @if (workingHour.Day == DateTime.Now.DayOfWeek)
                        {
                            <span class="boldText">@workingHour.Day: </span>
                            <span class="boldText">@workingHour.OpenTime</span>
                        }
                        else
                        {
                            <span>@workingHour.Day: </span>
                            <span>@workingHour.OpenTime</span>
                        }
                    </p>
                }
            }

        </div>

    </div>
</div>