@model Indepp.Models.Place

<div class="container-fluid">
    <div class="row paperBody">
        <div class="col-lg-12">
            <a href="#menu-toggle" id="menu-toggle">
                <i class="fa fa-long-arrow-left"></i>
            </a>

            <h1 class="specialHeaderText">@Model.Name</h1>

            <p class="underHeaderText">
                Details view.
            </p>

        </div>

        <!-- Content -->
        @using (Html.BeginForm("Edit", "Admin", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            
            <!-- Controls -->
            <div class="col-md-12">
                <div class="btn-group" role="group">
                    <a href='@Url.Action("Index", "Admin")' class="btn">
                        <i class="fa fa-hand-o-left fa-2x"></i>
                    </a>
                    <button type="submit" class="btn btn-link">
                        <i class="fa fa-floppy-o fa-2x"></i>
                    </button>
                </div>
            </div>
            <!-- /Controls-->

            <div class="col-md-8">
                <section id="placeDetails">
                    <div>
                        <h1>
                            PLACE DETAILS
                        </h1>
                        <p>
                            @Html.TextBoxFor(p => Model.Name)
                            @Html.ValidationMessageFor(p => Model.Name)
                        </p>
                        <p>
                            @Html.TextBoxFor(p => Model.Category)
                            @Html.ValidationMessageFor(p => Model.Category)
                        </p>
                    </div>
                </section>

                <section id="placeAddress">
                    <p>Address:</p>
                    <p>
                        @Html.EditorFor(p => p.Address.City)
                        @Html.ValidationMessageFor(p => Model.Address.City)
                    </p>
                    <p>
                        @Html.EditorFor(p => p.Address.County)
                        @Html.ValidationMessageFor(p => Model.Address.County)
                    </p>
                    <p>
                        @Html.EditorFor(p => p.Address.Country)
                        @Html.ValidationMessageFor(p => Model.Address.Country)
                    </p>
                </section>

                <section id="placeDescription">
                    <p>Place Description:</p>
                    <p>
                        @Html.EditorFor(p => p.PlaceDescription.Description)
                        @Html.ValidationMessageFor(p => p.PlaceDescription.Description)
                    </p>
                </section>

                <div class="editSection">
                    <label>Working Hours</label>
                    @Html.EditorFor(p => p.WorkingHours)
                </div>
            </div>
        }
        <!-- /Content-->

    </div>
</div>