@using Indepp.HelperMethods;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class='@Html.IsActiveBackground()'>
        <div id="wrapper">
            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        <a href="#">
                            Indepp
                        </a>
                    </li>
                    <li>
                        <a href='@Url.Action("Index", "Home")' class='@Html.IsActive("Home", "Index")'>
                            <i class="fa fa-home fa-2x"></i>
                            <span>Home</span>
                        </a>
                    </li>
                    <li>
                        <a href='@Url.Action("Coffee", "Home")' class='@Html.IsActive("Home", "Coffee")'>
                            <i class="fa fa-coffee fa-2x"></i>
                            <span>Coffee</span>
                        </a>
                    </li>
                    <li>
                        <a href='@Url.Action("Restaurants", "Home")' class='@Html.IsActive("Home", "Restaurants")'>
                            <i class="fa fa-cutlery fa-2x"></i>
                            <span>Restaurants</span>
                        </a>
                    </li>
                    <li>
                        <a href='@Url.Action("Farms", "Home")' class='@Html.IsActive("Home", "Farms")'>
                            <i class="fa fa-pagelines fa-2x"></i>
                            <span>Farms</span>
                        </a>
                    </li>
                    <li>
                        <a href='@Url.Action("CraftShops", "Home")' class='@Html.IsActive("Home", "CraftShops")'>
                            <i class="fa fa-cog fa-2x"></i>
                            <span>Craft Shops</span>
                        </a>
                    </li>
                    <li>
                        <a href='@Url.Action("Events", "Home")' class='@Html.IsActive("Home", "Events")'>
                            <i class="fa fa-calendar fa-2x"></i>
                            <span>Events</span>
                        </a>
                    </li>
                    <li>
                        <a href='@Url.Action("About", "Home")' class='@Html.IsActive("Home", "About")'>
                            <i class="fa fa-file-text fa-2x"></i>
                            <span>About</span>
                        </a>
                    </li>
                    <li>
                        <a href='@Url.Action("Contact", "Home")' class='@Html.IsActive("Home", "Contact")'>
                            <i class="fa fa-envelope fa-2x"></i>
                            <span>Contact</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- /#sidebar-wrapper -->
            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row paperBody">
                        <div class="col-lg-12">
                            <a href="#menu-toggle" id="menu-toggle" style="position: absolute; top: 10px;">
                                <i class="fa fa-long-arrow-left"></i>
                            </a>

                            <h1 class="specialHeaderText">Coffee</h1>
                            <p class="underHeaderText">
                                Milk viennese, seasonal acerbic so as turkish a irish doppio.
                                Variety iced decaffeinated milk cream roast skinny blue mountain.
                                Redeye blue mountain, a, cultivar robust seasonal, robusta, iced
                                fair trade ut seasonal black. Mazagran, ristretto blue mountain
                                lungo crema latte aged crema.
                            </p>
                            <!--<p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>-->
                        </div>
                        <div class="col-md-8">
                            @RenderBody()
                        </div>
                        <div class="col-md-4 recentPosts">
                            <h2 style="text-transform:uppercase">Recent posts</h2>

                            <p>Single origin saucer cappuccino doppio robusta crema single shot.</p>
                            <p>Roast, aromatic, white black java medium extra.</p>
                            <p>Blue mountain mug, redeye, flavour extraction lungo cream aromatic grounds body cappuccino.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /#page-content-wrapper -->
        </div>
    </div>
</body>
</html>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>
