@using Indepp.HelperMethods;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <!-- Background images based on controller -->
    <div id="backgroundImage">
        <img src="@Html.IsActiveBackground()" alt="" />
    </div>
        
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Indepp
                    </a>
                </li>
                <li>
                    <a href='@Url.Action("Index", "Home")' class='@Html.IsActive("Home", "Index")'>
                        <i class="fa fa-home fa-2x"></i>
                        <span>Home</span>
                    </a>
                </li>
                <li>
                    <a href='@Url.Action("Index", "Coffee")' class='@Html.IsActive("Coffee", "Index")'>
                        <i class="fa fa-coffee fa-2x"></i>
                        <span>Coffee</span>
                    </a>
                </li>
                <li>
                    <a href='@Url.Action("Index", "Food")' class='@Html.IsActive("Food", "Index")'>
                        <i class="fa fa-cutlery fa-2x"></i>
                        <span>Food</span>
                    </a>
                </li>
                <li>
                    <a href='@Url.Action("Index", "Farms")' class='@Html.IsActive("Farms", "Index")'>
                        <i class="fa fa-pagelines fa-2x"></i>
                        <span>Farms</span>
                    </a>
                </li>
                <li>
                    <a href='@Url.Action("Index", "CraftShops")' class='@Html.IsActive("CraftShops", "Index")'>
                        <i class="fa fa-cog fa-2x"></i>
                        <span>Craft Shops</span>
                    </a>
                </li>
                <li>
                    <a href='@Url.Action("Index", "Events")' class='@Html.IsActive("Events", "Index")'>
                        <i class="fa fa-calendar fa-2x"></i>
                        <span>Events</span>
                    </a>
                </li>
                <li>
                    <a href='@Url.Action("About", "Home")' class='@Html.IsActive("Home", "About")'>
                        <i class="fa fa-file-text fa-2x"></i>
                        <span>About</span>
                    </a>
                </li>
                <li>
                    <a href='@Url.Action("Contact", "Home")' class='@Html.IsActive("Home", "Contact")'>
                        <i class="fa fa-envelope fa-2x"></i>
                        <span>Contact</span>
                    </a>
                </li>
                <li>
                    <a href='@Url.Action("Index", "Admin")' class='@Html.IsActive("Admin", "Index")'>
                        <i class="fa fa-lock fa-2x"></i>
                        <span>Admin</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            @RenderBody()
        </div>
        <!-- /#page-content-wrapper -->
    </div>
</body>
</html>

<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>


