@model Indepp.Models.Place
@using Indepp.HelperMethods;

<div class="container-fluid">
    <div class="row paperBody">
        <div class="col-lg-12">
            @Html.Partial("_NavigationIconsPartial")

            <h1 class="specialHeaderText">@Model.Name</h1>

            <p class="underHeaderText">
                Not sure if this will stay here.
            </p>
        </div>

        <!-- Main Content -->
        <div class="col-md-8">
            <section id="placeDetails">
                <div>
                    @if (!Model.Reviewed)
                    {
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            This place is user submitted and has not yet been reviewed.
                            The information displayed might not be true.
                        </div>
                    }
                    <h1>
                        PLACE DETAILS
                    </h1>
                    <p>
                        @Model.ID
                    </p>
                    <p>
                        @Model.Name
                    </p>
                    <p>
                        @Model.Category
                    </p>
                </div>

                <div id="placeDetailsAddress">
                    @if (Model.Address != null)
                    {
                        <p>
                            Address:
                        </p>
                        <p>
                            @Model.Address.City
                        </p>
                        <p>
                            @Model.Address.Country
                        </p>
                    }
                </div>

                <div id="placeDetailsArticle">
                    @if (Model.Articles.Count() > 0)
                    {
                        <p>
                            Article:
                        </p>
                        foreach (var article in Model.Articles)
                        {
                            <p>
                                @article.ID
                            </p>
                            <p>
                                @article.Title
                            </p>
                            <p>
                                @Html.Raw(article.Description)
                            </p>
                            <p>
                                @article.PostedOn
                            </p>
                        }
                    }
                </div>

                <div id="placeDetailsDescription">
                    @if (Model.PlaceDescription != null)
                    {
                        <p>
                            Description:
                        </p>
                        <p>
                            @Html.Raw(Model.PlaceDescription.Description)
                        </p>
                    }
                </div>
            </section>
        </div>



        <!-- Main Content Ends-->

        <div class="col-md-4 recentPosts">
            <h2>Opening Times</h2>

            @if (Model.WorkingHours.Count() > 0)
            {
                foreach (var workingHour in Model.WorkingHours)
                {
                    <p>
                        @if (workingHour.Day == DateTime.Now.DayOfWeek)
                        {
                            <span class="boldText">@workingHour.Day: </span>
                            <span class="boldText">@Html.DisplayOpeningHours(workingHour.OpenTime, workingHour.CloseTime)</span>
                        }
                        else
                        {
                            <span>@workingHour.Day: </span>
                            <span>@Html.DisplayOpeningHours(workingHour.OpenTime, workingHour.CloseTime)</span>
                        }
                    </p>
                }
            }

        </div>

    </div>
</div>