@model Indepp.Models.BlogPost

<div class="container-fluid">
    <div class="row paperBody">
        <div class="col-lg-12">
            @Html.Partial("_NavigationIconsPartial")

            <h1 class="specialHeaderText">@Model.Title</h1>

            <p class="underHeaderText">
                Not sure if this will stay here.
            </p>
        </div>

        <div class="col-md-8">
            <section id="placeDetails">
                <div>
                    <p>
                        @Model.PostedOn
                    </p>
                    <p>
                        @Html.Raw(Model.Description)
                    </p>
                </div>
            </section>
        </div>

        <!-- Will be a partial later on -->
        <div class="col-md-4 recentPosts">
            <h2 class="uppercaseText">Recent posts</h2>
            @foreach (var post in ViewBag.RecentPosts)
            {
                if (post.IsArticle)
                {
                    <p>
                        <a href='@Url.Action("Details", post.Place.Category, new { id = post.PlaceID })'>
                            @post.Title
                        </a>
                    </p>
                }
                else
                {
                    <p>
                        <a href='@Url.Action("BlogPost", "Home", new { id = post.ID })'>
                            @post.Title
                        </a>
                    </p>
                }
            }
        </div>
        <!-- Partial will end here-->

    </div>
</div>