@model PagedList.IPagedList<Indepp.ViewModels.ArticleAndBlogPost>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<div class="container-fluid">
    <div class="row paperBody">
        <div class="col-lg-12">
            <a href="#menu-toggle" id="menu-toggle">
                <i class="fa fa-long-arrow-left"></i>
            </a>

            <h1 class="specialHeaderText">@ViewBag.PageTitle</h1>

            <p class="underHeaderText">
                Blog posts. 
            </p>
        </div>

        <!-- Main Content -->
        <div class="col-md-12">
            <section id="blogPostList">
                <table class="table table-hover">
                    <tr>
                        <th></th>
                        <th>
                            Title
                        <th>
                            Short Description
                        </th>
                        <th>
                            Posted on
                        </th>
                    </tr>

                    @foreach (var blogPost in Model)
                    {
                        <tr>
                            <td>
                                @if (blogPost.IsArticle)
                                {
                                    <a href='@Url.Action("Details", blogPost.Place.Category, new { id = blogPost.PlaceID })'>
                                        <i class="fa fa-newspaper-o fa-2x"></i>
                                    </a>
                                }
                                else
                                {
                                    <a href='@Url.Action("BlogPost", "Home", new { id = blogPost.ID })'>
                                        <i class="fa fa-newspaper-o fa-2x"></i>
                                    </a>
                                }
                            </td>
                            <td>
                                @blogPost.Title
                            </td>
                            <td>
                                @if (blogPost.ShortDescription == null)
                                {
                                    <p>
                                        New article about <strong>@blogPost.Place.Name</strong> has come out.
                                        Don't forget to check it out before you give it a visit!
                                    </p>
                                }
                                else
                                {
                                    @Html.Raw(blogPost.ShortDescription)
                                }
                            </td>

                            <td>
                                @blogPost.PostedOn
                            </td>
                        </tr>
                    }
                </table>
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

                @Html.PagedListPager(Model, page => Url.Action("Index",
                new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

            </section>
        </div>
        <!-- Main Content Ends-->

    </div>
</div>
