@model Indepp.Models.Place
@{ var googleMapApi = System.Configuration.ConfigurationManager.AppSettings["GOOGLE_MAP_API_KEY"]; }

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=@googleMapApi&libraries=places"></script>

<div class="container-fluid">
    <div class="row paperBody">
        <div class="col-lg-12">
            @Html.Partial("_NavigationIconsPartial")

            <h1 class="specialHeaderText">Submit Your Place</h1>

            <p class="underHeaderText">
                Have found an awesome place?
                Contribute your finding with the others!
                Your place will be reviewed by our team and will be shortly published.
                Big thanks for all the contributors!
            </p>
        </div>

        @using (Html.BeginForm("CreatePlace", "Contribute", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <!-- Controls -->
            <div class="col-md-12">
                <div class="btn-group" role="group">
                    <a href='@Url.Action("Index", "Home")' class="btn">
                        <i class="fa fa-hand-o-left fa-2x"></i>
                    </a>
                    <button type="submit" class="btn btn-link">
                        <i class="fa fa-check fa-2x"></i>
                    </button>
                </div>
            </div>
            <!-- /Controls -->

            <!-- Main Content -->
            <div class="col-md-8">
                <section id="placeDetails">
                    @Html.ValidationMessage("ExcessiveRequests")

                    <div class="editSection">
                        <label>Search for place using google</label>
                        <div class="input-group">
                            <span class="input-group-addon">Google Search</span>
                            <input class="form-control" id="googleSearchInput" type="text" />
                        </div>
                    </div>

                    <div class="editSection">
                        <label>Place Details</label>
                        <div class="input-group required">
                            <span class="input-group-addon">Name</span>
                            @Html.TextBoxFor(p => p.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(p => Model.Name)
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">Category</span>
                            @Html.DropDownListFor(p => p.Category, new SelectList(ViewBag.AvailableCategories), new { @class = "form-control" })
                            @Html.ValidationMessageFor(p => Model.Category)
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">Website</span>
                            @Html.TextBoxFor(p => p.Website, new { @class = "form-control", @placeholder = "www.example.com" })
                            @Html.ValidationMessageFor(p => Model.Website)
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">Telephone</span>
                            @Html.TextBoxFor(p => p.Telephone, new { @class = "form-control" })
                            @Html.ValidationMessageFor(p => Model.Telephone)
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">Email</span>
                            @Html.TextBoxFor(p => p.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(p => Model.Email)
                        </div>
                    </div>

                    <div class="editSection">
                        <label>Address</label>
                        <div class="input-group">
                            <span class="input-group-addon">Address 1</span>
                            @Html.TextBoxFor(p => p.Address.Address1, new { @class = "form-control" })
                            @Html.ValidationMessageFor(p => Model.Address.Address1)
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">Address 2</span>
                            @Html.TextBoxFor(p => p.Address.Address2, new { @class = "form-control" })
                            @Html.ValidationMessageFor(p => Model.Address.Address2)
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">Address 3</span>
                            @Html.TextBoxFor(p => p.Address.Address3, new { @class = "form-control" })
                            @Html.ValidationMessageFor(p => Model.Address.Address3)
                        </div>
                        <div class="input-group required">
                            <span class="input-group-addon">City</span>
                            @Html.TextBoxFor(p => p.Address.City, new { @class = "form-control" })
                            @Html.ValidationMessageFor(p => Model.Address.City)
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">County</span>
                            @Html.TextBoxFor(p => p.Address.County, new { @class = "form-control" })
                            @Html.ValidationMessageFor(p => Model.Address.County)
                        </div>
                        <div class="input-group required">
                            <span class="input-group-addon">Country</span>
                            @Html.TextBoxFor(p => p.Address.Country, new { @class = "form-control" })
                            @Html.ValidationMessageFor(p => Model.Address.Country)
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">Post Code</span>
                            @Html.TextBoxFor(p => p.Address.PostCode, new { @class = "form-control" })
                            @Html.ValidationMessageFor(p => Model.Address.PostCode)
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">Latitude</span>
                            @Html.TextBoxFor(p => p.Address.Latitude, new { @class = "form-control" })
                            @Html.ValidationMessageFor(p => Model.Address.Latitude)
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">Longitude</span>
                            @Html.TextBoxFor(p => p.Address.Longitude, new { @class = "form-control" })
                            @Html.ValidationMessageFor(p => Model.Address.Longitude)
                        </div>
                    </div>

                    <div class="editSection">
                        <label>Place Description</label>
                        <div class="input-group">
                            @Html.TextAreaFor(p => p.PlaceDescription.Description, new { @class = "form-control", @id = "descriptionEditor" })
                            @Html.ValidationMessageFor(p => Model.PlaceDescription.Description)
                        </div>
                    </div>

                    <div class="editSection">
                        <label>Working Hours</label>
                        @Html.EditorFor(p => p.WorkingHours)
                    </div>

                    <div class="editSection">
                        <label>Contributor info</label>
                        <div class="input-group">
                            <span class="input-group-addon">Your Name</span>
                            @Html.TextBoxFor(p => p.UserName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(p => p.UserName)
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">Email</span>
                            @Html.TextBoxFor(p => p.UserEmail, new { @class = "form-control" })
                            @Html.ValidationMessageFor(p => p.UserEmail)
                        </div>
                    </div>

                </section>
            </div>
            <!-- /Main Content-->

            <!-- top 10 contributors -->
            <div class="col-md-4">
                <h2 class="uppercaseText">Top 10 Contributors</h2>
                @foreach (var contributor in ViewBag.TopContributors)
                {
                    <p>@contributor.UserName - @contributor.PlacesContributed</p>
                }
            </div>
        <!-- /top 10 contributors-->
        }

    </div>
</div>

@Scripts.Render("~/bundles/editor")

<script>
    CKEDITOR.replace('descriptionEditor');
</script>

<script>
        function initialize() {
            var input = document.getElementById('googleSearchInput');
            var autocomplete = new google.maps.places.Autocomplete(input);

            google.maps.event.addListener(autocomplete, 'place_changed', function() {
                var place = autocomplete.getPlace();
                console.log(JSON.stringify(place));
                console.log(place.address_components);
                console.log(place.international_phone_number);

                /*place.address_components.forEach(function (address) {
                    if ($.inArray('postal_town', address.types) > -1)
                        $('#Address_City').val(address.long_name);

                    if ($.inArray('country', address.types) > -1)
                        $('#Address_Country').val(address.long_name);

                    if ($.inArray('postal_code', address.types) > -1)
                        $('#Address_PostCode').val(address.long_name);    
                });

                $('#Name').val(place.name);
                $('#Website').val(place.website);
                $('#Telephone').val(place.international_phone_number);*/

                var componentForm = {
                    //street_number: 'short_name',
                    //route: 'long_name',
                    locality: 'Address_City',
                    //administrative_area_level_1: 'short_name',
                    country: 'Address_Country',
                    postal_code: 'Address_PostCode'
                };

                for (var i = 0; i < place.address_components.length; i++) {
                    var addressType = place.address_components[i].types[0];
                    if (componentForm[addressType]) {
                        var val = place.address_components[i].long_name;
                        document.getElementById(componentForm[addressType]).value = val;
                    }
                }
            });
        }

        // Run the initialize function when the window has finished loading.
        google.maps.event.addDomListener(window, 'load', initialize);

    /*google.maps.event.addDomListener(window, 'load', function () {
        var places = new google.maps.places.Autocomplete(document.getElementById('googleSearchInput'));
        google.maps.event.addListener(places, 'place_changed', function () {
            var place = places.getPlace();
            var address = place.formatted_address;
            var latitude = place.geometry.location.A;
            var longitude = place.geometry.location.F;
            var mesg = "Address: " + address;
            mesg += "\nLatitude: " + latitude;
            mesg += "\nLongitude: " + longitude;
            alert(mesg);
        });
    });*/
    
</script>