@model Indepp.Models.Place
@{ var googleMapApi = System.Configuration.ConfigurationManager.AppSettings["GOOGLE_MAP_API_KEY"]; }

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=@googleMapApi&libraries=places"></script>

<div class="container-fluid">
    <div class="row paperBody">
        <div class="col-lg-12">
            @Html.Partial("_NavigationIconsPartial")

            <h1 class="specialHeaderText">Submit Your Place</h1>

            <p class="underHeaderText">
                Have found an awesome place?
                Contribute your finding with the others!
                Your place will be reviewed by our team and will be shortly published.
                Big thanks for all the contributors!
            </p>
        </div>

        @using (Html.BeginForm("CreatePlace", "Contribute", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <!-- Controls -->
            <div class="col-md-12">
                <div class="btn-group" role="group">
                    <a href='@Url.Action("Index", "Home")' class="btn">
                        <i class="fa fa-hand-o-left fa-2x"></i>
                    </a>
                    <button type="submit" class="btn btn-link">
                        <i class="fa fa-check fa-2x"></i>
                    </button>
                </div>
            </div>
            <!-- /Controls -->

            <!-- Main Content -->
            <div class="col-md-8">
                <section id="placeDetails">
                    @Html.ValidationMessage("ExcessiveRequests")

                    <div class="editSection">
                        <label>Search for place using google</label>
                        <div class="input-group">
                            <span class="input-group-addon">Google Search</span>
                            <input class="form-control" id="googleSearchInput" type="text" />
                        </div>
                    </div>

                    <input type="button" id="resetAllButton" value="Reset" />

                    <div class="editSection">
                        <label>Place Details</label>
                        <div class="input-group required">
                            <span class="input-group-addon">Name</span>
                            @Html.TextBoxFor(p => p.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(p => Model.Name)
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">Category</span>
                            @Html.DropDownListFor(p => p.Category, new SelectList(ViewBag.AvailableCategories), new { @class = "form-control" })
                            @Html.ValidationMessageFor(p => Model.Category)
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">Website</span>
                            @Html.TextBoxFor(p => p.Website, new { @class = "form-control", @placeholder = "www.example.com" })
                            @Html.ValidationMessageFor(p => Model.Website)
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">Telephone</span>
                            @Html.TextBoxFor(p => p.Telephone, new { @class = "form-control" })
                            @Html.ValidationMessageFor(p => Model.Telephone)
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">Email</span>
                            @Html.TextBoxFor(p => p.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(p => Model.Email)
                        </div>
                    </div>

                    <div class="editSection">
                        <label>Address</label>
                        <div class="input-group">
                            <span class="input-group-addon">Street Number</span>
                            @Html.TextBoxFor(p => p.Address.Address1, new { @class = "form-control" })
                            @Html.ValidationMessageFor(p => Model.Address.Address1)
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">Street</span>
                            @Html.TextBoxFor(p => p.Address.Address2, new { @class = "form-control" })
                            @Html.ValidationMessageFor(p => Model.Address.Address2)
                        </div>
                        <div class="input-group required">
                            <span class="input-group-addon">City</span>
                            @Html.TextBoxFor(p => p.Address.City, new { @class = "form-control" })
                            @Html.ValidationMessageFor(p => Model.Address.City)
                        </div>
                        <div class="input-group required">
                            <span class="input-group-addon">Country</span>
                            @Html.TextBoxFor(p => p.Address.Country, new { @class = "form-control" })
                            @Html.ValidationMessageFor(p => Model.Address.Country)
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">Post Code</span>
                            @Html.TextBoxFor(p => p.Address.PostCode, new { @class = "form-control" })
                            @Html.ValidationMessageFor(p => Model.Address.PostCode)
                        </div>
                    </div>

                    <div class="editSection">
                        <label>Geo Location</label>
                        <div class="input-group">
                            <span class="input-group-addon">Latitude</span>
                            @Html.TextBoxFor(p => p.Address.Latitude, new { @class = "form-control" })
                            @Html.ValidationMessageFor(p => Model.Address.Latitude)
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">Longitude</span>
                            @Html.TextBoxFor(p => p.Address.Longitude, new { @class = "form-control" })
                            @Html.ValidationMessageFor(p => Model.Address.Longitude)
                        </div>
                    </div>

                    <div class="editSection">
                        <label>Place Description</label>
                        <div class="input-group">
                            @Html.TextAreaFor(p => p.PlaceDescription.Description, new { @class = "form-control", @id = "descriptionEditor" })
                            @Html.ValidationMessageFor(p => Model.PlaceDescription.Description)
                        </div>
                    </div>

                    <div class="editSection">
                        <label>Working Hours</label>
                        @Html.EditorFor(p => p.WorkingHours)
                    </div>

                    <div class="editSection">
                        <label>Contributor info</label>
                        <div class="input-group">
                            <span class="input-group-addon">Your Name</span>
                            @Html.TextBoxFor(p => p.UserName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(p => p.UserName)
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">Email</span>
                            @Html.TextBoxFor(p => p.UserEmail, new { @class = "form-control" })
                            @Html.ValidationMessageFor(p => p.UserEmail)
                        </div>
                    </div>

                </section>
            </div>
            <!-- /Main Content-->

            <!-- top 10 contributors -->
            <div class="col-md-4">
                <h2 class="uppercaseText">Top 10 Contributors</h2>
                @foreach (var contributor in ViewBag.TopContributors)
                {
                    <p>@contributor.UserName - @contributor.PlacesContributed</p>
                }
            </div>
        <!-- /top 10 contributors-->
        }

    </div>
</div>

@Scripts.Render("~/bundles/editor")

<script>
    CKEDITOR.replace('descriptionEditor');
</script>

<script>
    function initialize() {
        var input = document.getElementById('googleSearchInput');
        var autocomplete = new google.maps.places.Autocomplete(input);

        google.maps.event.addListener(autocomplete, 'place_changed', function() {
            var place = autocomplete.getPlace();
            console.log(place);

            resetAll();

            $('#Name').val(place.name);
            $('#Website').val(place.website);
            $('#Telephone').val(place.international_phone_number);

            var componentForm = {
                street_number: 'Address_Address1',
                route: 'Address_Address2',
                locality: 'Address_City',
                postal_town: 'Address_City',
                country: 'Address_Country',
                postal_code: 'Address_PostCode'
            };

            var DayEnum = {
                0: "Sunday",
                1: "Monday",
                2: "Tuesday",
                3: "Wednesday",
                4: "Thursday",
                5: "Friday",
                6: "Saturday"
            };

            for (var i = 0; i < place.address_components.length; i++) {
                var addressType = place.address_components[i].types[0];
                if (componentForm[addressType]) {
                    var val = place.address_components[i].long_name;
                    document.getElementById(componentForm[addressType]).value = val;
                }
            }

            $('#Address_Latitude').val(place.geometry.location.lat());
            $('#Address_Longitude').val(place.geometry.location.lng());

            if (place.opening_hours) {
                for (var i = 0; i < place.opening_hours.periods.length; i++) {
                    var opening = place.opening_hours.periods[i].open;
                    var closing = place.opening_hours.periods[i].close;

                    var openTime = opening.time.substr(0, 2) + ':' + opening.time.substr(2, 2);
                    var closeTime = closing.time.substr(0, 2) + ':' + closing.time.substr(2, 2);

                    document.getElementById(DayEnum[opening.day] + '.Open').value = openTime;
                    document.getElementById(DayEnum[closing.day] + '.Close').value = closeTime;
                }
            }
        });
    }

    function resetAll() {
        $('#Name, #Website, #Telephone, #Address_Address1, #Address_Address2, #Address_City, #Address_Country, #Address_PostCode, #Address_Latitude, #Address_Longitude').val("");
        var days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];

        days.forEach(function (day) {
            document.getElementById(day + '.Open').value = "";
            document.getElementById(day + '.Close').value = "";
        });
    }

    // Run the initialize function when the window has finished loading.
    google.maps.event.addDomListener(window, 'load', initialize);

    $('#resetAllButton').click(function () {
        resetAll();
    });
</script>